@model List<Song> 
@{ 
    ViewBag.Title = "My Songs";
}
    <a asp-controller="Song" asp-action="Add">Add New Song</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Rating</th>
                <th>Genre</th>
                
            </tr>
        </thead>

        <tbody>
            @foreach(var song in Model)
            {
                <tr>
                    <td>@song.Name</td>
                    <td>@song.year</td>
                    <td>@song.Rating</td>
                    <td>@song.Genre.Name</td>
                    <td><a asp-controller="Song" asp-action="Edit" asp-route-id="@song.SongID" asp-route-slug="@song.Slug">Edit</a></td>
                    <td><a asp-controller="Song" asp-action="Delete" asp-route-id="@song.SongID" asp-route-slug="@song.Slug">Delete</a></td>
                </tr>
            }
        </tbody>
    </table> 